<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7227.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="AB2C4D42645FB37454523B30714340C8CAF610615091EFF9298E5991DC525122511B9138AD27AF39B4B78E6A7A3F7A5EA1FBC5A56488B141B7D6829EA69B9A74" decryptionKey="B3FEA5AE99B73729A2B2BF03ACCBF1CEA603F0B8CD61BC70E0EFBB39E5DF065A" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="1BE9BDD4B710081A1AC9C30FC91B44A228801B8A0831E92AEC5880C701E58149" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="1BE9BDD4B710081A1AC9C30FC91B44A228801B8A0831E92AEC5880C701E58149" realm="http://localhost" />
	</relyingParties>
</securityConfig>