@model SitefinityWebApp.Mvc.Models.CharityListViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top")

<div> 
    <div class="search-results">

        @foreach (var items in Model.Results)

        {
                <ul class="directory-list">
                    <li><a href="@items.Url">@items.Name</a></li>
                </ul>
        };

    </div>
    </div>


@Html.Script(Url.WidgetContent("Mvc/Scripts/Give-Script.js"), "bottom")