@model SitefinityWebApp.Mvc.Models.RecentNewsModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using System.Text.RegularExpressions;



@Html.StyleSheet(Url.WidgetContent("~/Mvc/Style/StyleSheet.css"), "head")


<div style="padding:40px 5% 2%; box-sizing:border-box; background-color:white">
    <div id="news-and-updates" class="col-auto text-center mx-auto">
        <h3 style="color:#018c56;">NEWS &amp; UPDATES</h3>
        <h2 style="font-weight: lighter;">Our most recent news and videos</h2>
        <hr style="width: 5%; height: 5px; background-color:#018c56;">
    </div>
    <section>
        <div class="row pb-1">
            <div class="col-auto mr-auto">
                <h4 style="font-weight:100;" class="gallery-title">RECENT ARTICLES</h4>
            </div>
            <div class="col-auto ml-auto">
                <h5 id="desktop" class="gallery-view-more">
                    <a href="/news-and-updates-new" style="color:#018c56;">VIEW ALL ARTICLES</a>
                </h5>
            </div>
        </div>

        <div id="desktop" class="row text-gallery">
            @foreach (var newsItem in Model.Items.Take(6))
            {
                <div class="col-md-4 article">
                    <h5 style="color:#018c56;">
                        <strong>
                            @Html.Raw(newsItem.Title)
                        </strong>
                    </h5>
                    <p>
                        @Html.Raw(newsItem.Content).ToString().Substring(5, 210) ... <span><strong><a style="font-size:16px; color: #018c56;" href="@string.Format("/news{0}" , newsItem.ItemDefaultUrl)">READ MORE</a></strong></span>
                    </p>
                </div>
            }
        </div>
    </section>
</div>





