@model SitefinityWebApp.Mvc.Models.RecentNewsModel

<ol>
    @foreach (var newsItem in Model.Items)
    {
        <li>
            <a href="/news/@Html.Raw(newsItem.ItemDefaultUrl)"><strong>
                @Html.Raw(newsItem.Title)
            </strong></a>
            <p>
                @Html.Raw(newsItem.Content)
            </p>
        </li>
    }
</ol>